{% extends 'users/base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5">
    <h2>Your Files</h2>
    {% if user_files %}
        <ul>
            {% for audio_file in user_files %}
                <li>
                    {{ audio_file.audiofile.name }} -
                    <a href="{{ audio_file.audiofile.url }}" target="_blank">Play</a> |
                    <a href="{{ audio_file.audiofile.url }}" download>Download</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No text-to-speech files available.</p>
    {% endif %}

  </div>

  <script src="{% static 'audio_track_buttons.js' %}"></script>
{% endblock %}
