{% extends 'users/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container mt-5">

    {% if user_files %}

        <ul>
            <h2>{% trans "Your Audio Files" %}</h2>
            {% for audio_file in user_files %}
            {% if audio_file.audiofile.name %}

                <li>

                    {{ audio_file.audiofile.name }} -
                    <a href="{{ audio_file.audiofile.url }}" target="_blank">{% trans "Play" %}</a> |
                    <a href="{{ audio_file.audiofile.url }}" download>{% trans "Download" %}</a>
                </li>
            {% endif %}
            {% endfor %}
            <h2>{% trans "Your Zip Files" %}</h2>
            {% for zip_files in user_files %}
            {% if zip_files.zipfile %}

            <li>
                    {{ zip_files.zipfile.name}} - |
                    <a href="{{ zip_files.zipfile.url }}" download>{% trans "Download" %}</a>
                </li>
            {% endif %}
            {% endfor %}

        </ul>
    {% else %}
        <p>{% trans "No text-to-speech files available." %}</p>
    {% endif %}

  </div>

  <script src="{% static 'audio_track_buttons.js' %}"></script>
{% endblock %}
