{% extends 'users/base.html' %}

{% block content %}
    <section class="container mt-4">
        <h2>User Profile</h2>
        {% if user_profile.username %}
            <p>Username: {{ user_profile.username }}</p>
        {% else %}
            <p>Username:
            <a href="{% url 'edit_profile' %}">Don't have one? Click the message</a>
            </p>
        {% endif %}
        <p>Email: {{ user_profile.email }}</p>
        <p>Premium status: {{ user_profile.is_premium }}</p>
        {% if subscription %}
        <p>Expired status: {{ subscription.end_date }}</p>
        {% endif %}

        {% for message in messages_for_user %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
        <a href="{% url 'edit_profile' %}">
            <button type="button">Change Profile</button>
        </a>
    </section>
{% endblock %}
