{% extends 'users/base.html' %}
{% load i18n %}

{% block content %}
    <section class="container mt-4">
        <h2>{% trans "User Profile" %}</h2>
        {% if user_profile.username %}
            <p>{% trans "Username" %}: {{ user_profile.username }}</p>
        {% else %}
            <p>{% trans "Username" %}:
            <a href="{% url 'edit_profile' %}">{% trans "Don't have one? Click the message" %}</a>
            </p>
        {% endif %}
        <p>{% trans "Email" %}: {{ user_profile.email }}</p>
        <p>{% trans "Premium status" %}: {{ user_profile.is_premium }}</p>
        <a href="{% url 'edit_profile' %}">
            <button type="button">{% trans "Change Profile" %}</button>
        </a>
    </section>
{% endblock %}
